#ibacor_repos div.result,
			#ibacor_gists div.result {
				margin-bottom:30px;
				display:block;
				overflow:hidden;
				*overflow:visible;
			}
			#ibacor_repos div.result p,
			#ibacor_gists div.result p{
				margin:0
			}
			#ibacor_repos div.result p.left,
			#ibacor_gists div.result p.left{
				float:left
			}
			#ibacor_repos div.result p.right,
			#ibacor_gists div.result p.right{
				float:right
			}
			#ibacor_repos div.result a,
			#ibacor_gists div.result p.right .fa{
				margin-right:15px;
				text-decoration:none
			}
			#ibacor_gists a {
				color:#000
			}
			#ibacor_repos a.fa,
			#ibacor_repos .fa,
			#ibacor_gists a .fa{
				color:#777
			}
